.banner {
  position: relative;
}
.layout {
}
.banner_wrap {
  position: relative;
}
.banner_slide {
  display: flex;
  gap: 25px;
}
.banner_slide_item {
  display: block;
  border-radius: 15px;
  overflow: hidden;

  height: 345px;
  background-color: red;
}

.banner_slide_item img {
  /* 이미지를 보기좋게 비율유지하면서 채워서 보이기 */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_slide_prev {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 100;

  transform: translateY(-50%) translateX(-50%);

  border: 1px solid #e5e5e5;
  background-color: rgba(255, 255, 255, 0.5);

  width: 48px;
  height: 48px;
  border-radius: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
}

.banner_slide_prev img {
  transform: rotate(180deg);
}

.banner_slide_next {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 100;

  transform: translateY(-50%) translateX(50%);

  border: 1px solid #e5e5e5;
  background-color: rgba(255, 255, 255, 0.5);

  width: 48px;
  height: 48px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
}

.banner_slide_pg {
  display: none;
}

@media all and (max-width: 1280px) {
  .banner_slide_item {
    height: 275px;
  }
}

@media all and (max-width: 1024px) {
  .sw_banner {
    max-width: 350px;
  }
  .banner_slide_item {
    height: 202px;
  }
}

@media all and (max-width: 760px) {
  .sw_banner {
    max-width: 350px;
  }
}
