.footer {
  padding-top: 60px;
}
.layout {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.footer_top {
  position: relative;
  z-index: 888;
  border-top: 1px solid #e4e4e4;
}

.footer_menu_list {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_menu_list > li {
  position: relative;
}
.footer_menu_list > li:last-child::after {
  display: none;
}
.footer_menu_list > li::after {
  content: "";
  position: absolute;
  right: -33px;
  top: 4px;
  display: block;
  width: 1px;
  height: 12px;
  background-color: #ccc;
}

.footer_menu_list > li > a {
  position: relative;
  font-size: 13px;
  color: #29292d;
  font-weight: 400;
}
.footer_menu_list > li > a > strong {
  font-weight: 700;
}

.footer_more {
  position: relative;
  font-size: 13px;
  color: #29292d;
  cursor: pointer;

  display: flex;
  justify-content: center;
}
.footer_more > span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.footer_more > span > img {
  transform: scale(0.75) rotate(90deg);
}

.footer_more:hover .more_list {
  display: block;
}

.more_box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 30px;
}

.more_list {
  display: none;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 15px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
.more_list li {
}
.more_list li a {
  font-size: 13px;
  color: #333;
  white-space: nowrap;
  line-height: 1.8;
}

/* footer 하단 */
.footer_bottom {
  border-top: 1px solid #e4e4e4;
}
.footer_contact {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.footer_contact_box {
}
.footer_contact_box > h3 {
  font-size: 14px;
  color: #111;
  padding-bottom: 10px;
}
.footer_contact_box > ul {
  font-size: 12px;
  color: #6a6a6c;
}
.footer_contact_box > ul > li {
}
.footer_contact_box > ul > li > a {
  color: #4154ff;
  text-decoration: underline;
}
.footer_contact_box > ul > li > address {
  font-style: normal;
  margin-bottom: 4px;
}

.footer_copyright {
  font-size: 12px;
  color: #9c9793;
  padding-bottom: 45px;
}
.footer_copyright p {
  margin-bottom: 4px;
}

/* 하단 메뉴 바 반응형 코드 */
@media all and (max-width: 1280px) {
}
@media all and (max-width: 1250px) {
  .footer_menu_list > li::after {
    right: -30px;
  }
}
@media all and (max-width: 1200px) {
  .footer_menu_list > li::after {
    right: -26px;
  }
}
@media all and (max-width: 1140px) {
  .footer_menu_list > li::after {
    right: -20px;
  }
}
@media all and (max-width: 1024px) {
  .footer {
    display: none;
  }
}
/* 모바일: 하단 */
.mb_footer {
  display: none;
  background-color: #f7f7f8;
  padding: 20px;
  margin-top: 20px;
}
.mb_footer_menu {
}
.mb_footer_menu nav {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.mb_footer_menu nav a {
  font-size: 12px;
  color: #7c7c86;
}

.bar {
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e2e2e4;
  margin: 0 12px;
}

.mb_footer_info {
}
.mb_footer_link {
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 31px;
}
.cirlce {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 0 18px;
}
.mb_footer_copy {
  color: #bfbfc0;
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.mb_footer_hide {
  display: none;
}
/* js 에서 추가하도록 합니다. */
.mb_footer_show {
  display: block;
}

#mb_bt {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
#mb_bt i {
}
#mb_bt i img {
  transform: scale(0.7) rotate(90deg);
}
.img-up {
  transform: scale(0.7) rotate(-90deg) !important;
}

/* 반응형 */
@media all and (max-width: 1024px) {
  .mb_footer {
    display: block;
  }
}
