.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;

  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
}

.layout {
  max-width: 1280px;
  width: 100%;
  background-color: #ffffff;
  /* 
  margin-left: auto;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0; 
  */

  /* 영역을 가운데 정렬하기 */
  margin: 0 auto;
}

.header_top {
  /* 
  padding-top: 12px;
  padding-bottom: 12px; 
  */

  padding: 12px 0;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_top_left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo {
  width: 144px;
  height: 22px;
}
.search {
  width: 355px;
  height: 46px;
  border: 1px solid #dfdfdf;
  border-radius: 23px;

  padding-left: 25px;
  padding-right: 25px;

  display: flex;
  align-items: center;
}
.search form {
  flex: 1;

  display: flex;
  align-items: center;
}
#good {
  flex: 1;
  border: none;
  outline-style: none;
}
.bt_search {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.sale {
  width: 180px;
  height: 50px;
}

.sale img {
  width: 100%;
  height: auto;
}
.header_top_right {
}
.link_site {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link_site li {
  position: relative;
}
.link_site_line ::after {
  content: "";

  position: absolute;
  right: -10px;
  top: 4px;

  width: 1px;
  height: 12px;
  background-color: #dfdfdf;
}

.main_menu {
  display: flex;
}

.main_menu li {
}
.main_menu li a {
  position: relative;

  display: flex;
  align-items: center;
  height: 48px;

  padding: 0px 14px;
  font-size: 21px;
  font-weight: 600;
}

.focus::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 2px;
  background-color: #000000;
}

.header_bottom {
  display: flex;
  justify-content: space-between;
}

.member_menu {
  display: flex;
  gap: 25px;
}
.member_menu li a {
  display: flex;
  align-items: center;
  height: 48px;

  gap: 10px;
  font-size: 12px;
  font-weight: 600;
}

/* 모바일메뉴 */
.mobile_header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;

  display: none;
  width: 100%;
  padding: 15px 20px;
  background-color: #ffffff;
}
.mobile_menu {
  display: flex;
  gap: 30px;
  align-items: center;
}
.mobile_menu li a {
  font-size: 22px;
  font-weight: 500;
}
.mobile_search {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* 위의 코드는 PC 화면의 설정 */

@media all and (max-width: 1280px) {
  .layout {
    max-width: 1024px;
  }
}

@media all and (max-width: 1024px) {
  .header {
    display: none;
  }

  .mobile_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .layout {
    max-width: 760px;
  }
}
