* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 컨텐츠 마다 선택사항 위에는 필수 */
  outline-style: none;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000000;
}

.wrap {
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial,
    "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
}
