.main {
  position: relative;
  display: block;
  padding-top: 153px;
}

.main_scroll {
  padding-top: 90px;
}

@media all and (max-width: 1024px) {
  .main {
    padding-top: calc(64px + 10px);
  }
}
