.tour {
  position: relative;
}
.layout {
  /* 영역 가운데 정렬 */
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}
.tour_top {
  padding-top: 65px;
  padding-bottom: 25px;
}
.tour_top_title {
  display: block;
  width: 100%;
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #000;
  text-align: center;
}
.subtitle {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(18, 18, 18, 0.5);
  text-align: center;
  white-space: nowrap;
}

.tour_top_category {
  display: flex;
  justify-content: center;
  width: 100%;
}
.tour_button_list {
  display: flex;
  gap: 6px;
}
.tour_button_list li {
}
.tour_button_list li button {
  padding: 0 18px;
  border: 1px solid #e5e5e5;
  /* padding: 11px 16px; */
  height: 44px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 22px;

  white-space: nowrap;
}

.tour_button_list li button:active {
  opacity: 0.65;
}

.tour_focus {
  background-color: #333 !important;
  font-weight: 600;
  color: #fff !important;
}

.tour_bottom {
  display: block;
  width: 100%;
}
.tour_slide_wrap {
  display: block;
  position: relative;
  width: 100%;
}
.tour_slide {
  display: flex;
  gap: 26px;
}
.tour_item {
  display: block;
  overflow: hidden;
  border-radius: 12px;
}

.tour_item_image {
  width: 100%;
  height: 255px;
}
.tour_item_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tour_item_info {
  padding: 20px;
  border: 1px solid #f0f0f0;
  border-top: none;
  position: relative;
  height: calc(100% - 255px);
  border-radius: 0px 0px 12px 12px;
}
.tour_item_info .tour_city {
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 20px;
  background-color: #4154ff;
  font-size: 13px;
  color: #fff;
  transform: translateY(-50%);
  border-radius: 4px;
}

.tour_item_info .tour_sale {
  font-size: 15px;
  font-weight: 400;
  color: rgb(65, 84, 255);
}

/* 한줄 말줄임 ... 은 css 작업합니다. */
.tour_item_info .tour_item_title {
  /* 아래는 보관해 두세요. */
  overflow: hidden;
  font-size: 15px;
  font-weight: 400;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tour_item_info .tour_price {
  font-size: 20px;
  font-weight: 400;
  color: #111;
}
.tour_item_info .tour_price b {
  font-weight: 700;
}

.tour_slide_prev {
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 999;

  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 24px;
}
.tour_slide_prev img {
  transform: rotate(180deg);
}

.tour_slide_next {
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 999;

  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transform: translateY(-50%) translateX(50%);
  border-radius: 24px;
}
.tour_more {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.tour_more_bt {
  display: flex;
  gap: 7px;
  align-items: center;
  padding: 0 20px;

  border: 1px solid #e5e5e5;

  height: 56px;
  background-color: #fff;

  font-size: 16px;
  font-weight: 700;
  color: #333;
  border-radius: 23px;
}

.swiper-button-disabled {
  display: none !important;
}

/* 반응형 코드 */
@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
  .tour {
    border-top: 8px solid #f0f4f4;
  }
  .layout {
    max-width: 760px;
    padding: 0px 20px;
    overflow: hidden;
  }
  .tour_top {
    padding-top: 10px;
    padding-bottom: 13px;
  }

  .tour_top_title .title {
    font-size: 20px;
  }
  .tour_top_title .subtitle {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .tour_button_list li button {
    height: 38px;
  }

  /* swiper 소스 고친 트릭 */
  .sw_tour {
    overflow: visible !important;
  }

  /* swipe 트릭 강제로 height 지정 */
  .sw_tour .swiper-wrapper {
    height: 462px;
  }

  /* swiper 트릭 강제로 slide 너비를 고정 시킴 */
  .sw_tour .swiper-slide {
    width: 230px !important;
  }
  .tour_item {
  }
  .tour_item_image {
    height: 138px;
  }
  .tour_item_info {
    height: calc(100% - 138px);
    padding: 10px;
  }
  .tour_item_info .tour_city {
    font-size: 10px;
  }
  .tour_item_info .tour_sale {
    font-size: 13px;
    padding-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .tour_item_info .tour_price {
    font-size: 14px;
  }
  .tour_item_info .tour_price b {
    font-size: 15px;
  }
  .tour_slide_next,
  .tour_slide_prev {
    display: none;
  }

  .tour_bottom {
    padding-bottom: 20px;
  }
}

@media all and (max-width: 960px) {
}
@media all and (max-width: 760px) {
}
