.trip {
  padding-top: 60px;
  position: relative;
}
.layout {
  position: relative;
}
.trip_header {
  padding-bottom: 20px;
  position: relative;
}
.trip_header_title {
  /* 중앙 위아래 맞춤 */
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.trip_header_text {
  padding-top: 15px;
  font-weight: 400;
  color: rgba(18, 18, 18, 0.5);
  text-align: center;
  font-size: 18px;
}
.trip_slide_wrap {
  position: relative;
}
.trip_slide {
  display: flex;
  gap: 20px;
}
.trip_slide_item {
  position: relative;
  display: block;
  width: 100%;
}

.trip_image {
  height: 245px;
  border-radius: 11px 11px 0 0;
  overflow: hidden;
}
.trip_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trip_info {
  position: relative;
  height: calc(100% - 245px);
  padding: 20px 25px;
  border: 1px solid#f0f0f0;
  border-top: none;
  border-radius: 0 0 11px 11px;
}
.trip_icon {
  position: absolute;
  left: 16px;
  top: 0;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 13px;
  font-weight: 700;
  color: #1c1c1e;

  height: 24px;
  border-radius: 12px;
  padding: 0 10px;

  background: linear-gradient(
    90deg,
    #4ed8eb 0.08%,
    #c9d8f4 21.6%,
    #fbeaf0 42.04%,
    #c0f3f3 65.17%,
    #a9eeee 83.46%,
    #5cf3dc 103.36%
  );
}
.trip_icon img {
}
.trip_item_title {
  font-size: 17px;
  font-weight: 400;
  color: #1c1c1e;

  /* 행간 - 기준 폰트 사이즈 (폰트사이즈X숫자*/
  line-height: 1.6;

  /* 2 줄 말줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.trip_schedule {
  display: flex;
  font-size: 14px;
  color: #666;
  flex-wrap: wrap;

  padding: 5px 0;
}
.trip_schedule span {
  position: relative;
  padding-right: 11px;
}
.trip_schedule span::before {
  content: "";
  position: absolute;
  transform: translateX(-5px);
  right: 0;
  top: 50%;
  width: 2px;
  height: 2px;
  background-color: #868686;
}

.trip_schedule span:last-child::before {
  display: none;
}

.trip_price {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}
.trip_price b {
  font-size: 20px;
  font-weight: 700;
}
.trip_price .m_line {
  text-decoration: line-through;
  color: #999;
  font-size: 13px;
}
.trip_slide_prev {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 999;
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 24px;
}

.trip_slide_prev img {
  /* 180도 반전 */
  transform: rotate(180deg);
}
.trip_slide_next {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 999;
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transform: translateX(50%) translateY(-50%);
  border-radius: 24px;
}
.trip_footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  position: relative;
}
.trip_more_bt {
  /* a 태그는 인라인이라 디스플레이해야 너비높이가 들어감*/
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  padding: 0 40px;

  border: 1px solid #e5e5e5;

  height: 56px;
  background-color: #fff;
  font-weight: 700;
  color: #333;
  border-radius: 23px;

  font-size: 16px;
}

/* 반응형 */
@media all and (max-width: 1280px) {
}
@media all and (max-width: 1080px) {
}
@media all and (max-width: 1024px) {
  .trip {
    border-top: 8px solid #f0f4f4;
    padding-top: 30px;
  }
  .trip_header {
    padding-bottom: 15px;
  }
  .trip_header_title {
    gap: 5px;
  }
  .trip_header_title img:first-child {
    width: 69px;
  }
  .trip_header_title img:last-child {
    width: 25px;
  }
  .trip_header_text {
    font-size: 15px;
    padding-top: 10px;
  }
  /* 트릭 swiper 의 visivile 속성 바꿈 */
  .sw_trip {
    overflow: visible !important;
  }
  /* 트릭 swiper 의 너비를 강제 조절 */
  .sw_trip .swiper-slide {
    width: 230px !important;
  }

  .trip_image {
    height: 140px;
  }
  .trip_info {
    padding: 15px;
    padding-bottom: 13px;
  }
  .trip_item_title {
    font-size: 15px;
  }
  .trip_schedule {
    font-size: 13px;
    display: flex;
    /* flex 요소들을 배치하다가 줄내림 하라! */
    flex-wrap: wrap;
  }
  .trip_more_bt {
    width: 100%;
    border-radius: 4px;
    height: 50px;
  }
  .trip_slide_next,
  .trip_slide_prev {
    display: none;
  }
  .trip_footer {
    padding: 20px 0;
  }
}
@media all and (max-width: 960px) {
}
@media all and (max-width: 760px) {
}
